body{
    background-color: #361384;
    color: white;
}
#connexion{
    color: white;
    font-size: 14px;
    margin-right: 5%;
}
.icon-logged {
    width: 60px;
}

#menu .navbar{
    background-color: #2d0065;

}
#menu ul{
    margin-left: 5%;
}

#menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu .navbar-brand{
    margin-left: 15%;
    text-align: center;
}

#menu .navbar-nav>.active>a {
    background-color: #9671e2;
}

.page-logo{
    margin-left: 5%;
    margin-top: 5px;
}

footer{
    background-color: #2d0065;
    color: white;
}
.panel-info {
    border-color: #2d0065;
    box-shadow: 7px 5px 7px #555;

}

.panel-info > .panel-heading {
    color: white;
    background-color: #2d0065;
    border-color: #9671e2;
}
.panel-info > .panel-body {
    color: white;
    background-color: #9671e2;
    border-color: #2d0065;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #9671e2;
}
.panel-info > .panel-heading .badge {
    color: #9671e2;
    background-color: #2d0065;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #9671e2;
}
li, .navbar-brand {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
li:hover,  .navbar-brand:hover {
    margin-right:60px;
    margin-left:60px;
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -ms-transform: scale(2);
    z-index: 1;
}

.well{
    color: #0e0e0e;
}

button{
    background-color: #2d0065;
}
